/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilos para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para etiquetas (labels) */
label {
    font-size: 20px;
    color: #333;
}

/* Estilos para inputs de texto */
input[type="text"], input[type="password"] {
    font-size: 20px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

/* Estilos para el botón */
.boton {
    font-size: 20px; /* Tamaño de letra del botón reducido */
    color: #000; /* Color de letra negro */
    background-color: darkgrey; /* Color de fondo */
    border: 4px solid black;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto; /* Ancho del botón ajustado al contenido */
    display: inline-block; /* Botón como elemento en línea para no ocupar el ancho completo */
    line-height: 1; /* Restablece la altura de línea para que no sea demasiado alta */
}

.boton:hover {
    background-color: grey; /* Color de fondo al pasar el ratón */
}
