
div {
    margin-bottom: 20px;
}

.botoon {
    /* Letra */
    color: black;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    /* Fondo */
    background-color: darkgrey;
    /* Borde */
    border: 4px solid black;
    border-radius: 8px;
    /* Botón */
    padding: 16px;
    height: 36px;
    width: 280px;
    display: inline-block;
}
.botoon:hover {
    background-color: grey;
}

.barra {
    /* Letra */
    color : black ;
    font-size : 24px ;
    text-align : center ;
    /* Elementos */
    justify-content: space-between ;
    display : flex ;
    padding : 40px 180px ;
    /* Contenedor */
    height : 40px ;
    background-color : white ;
    border : solid ;
    border-width : 10px ;
    border-color : black ;
    /* Posición */
    top : 0px ;
    right : 0px ;
    left : 0px ;
    position : fixed ;
    z-index : 2 ;
}
.botones_barra {
    /* Letra */
    color: black;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    /* Fondo */
    background-color: darkgrey;
    /* Borde */
    border: 4px solid black;
    border-radius: 8px;
    /* Botón */
    height: 28px;
    width: 160px;
}
.botones_barra:hover {
    background-color: grey;
}

