<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" name="robots" http-equiv="cache-control" content="no-store">
    <title>Aplicación AdminParking</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stylepisos.css}">
</head>
<body>
    <div class="barra">
        <i>Actualizar Pisos</i>
        <a class="botones_barra" th:href="@{/admin/tarifas-espacios}">Tarifas y Espacios</a>
        <a class="botones_barra" href="http://localhost:4200/vehiculo/anadirVehiculo">Añadir Vehiculo</a>
        <a class="botones_barra" th:href="@{/tarifas/anadirTarifa}">Añadir Tarifa</a>
        <a class="botones_barra" href="http://localhost:4200/vehiculo/registrarSalida">Registrar Salida</a>
        <a class="botones_barra" href="iniciar sesioon.html">Cerrar sesión</a>
    </div>

    <h4>CRUD pisos</h4>
    <div class="barraCRUD">
        <a class="botones_barra" th:href="@{/pisos/anadirPiso}">Añadir Piso</a>
        <a class="botones_barra" th:href="@{/pisos/borrarPiso}">Borrar Piso</a>
    </div>

    <h4>Ingrese la información para actualizar el piso</h4>

    <div>
        <!-- Mensaje de éxito -->
        <p th:if="${exito}">[[${exito}]]</p>
        <!-- Mensaje de error -->
        <p th:if="${error}">[[${error}]]</p>
    </div>

    <form method="post" action="/pisos/actu"> <!-- pisos: Nombre del metodo -->
        <label for="id">Id de piso (solo números):</label>
        <input type="number" id="id" name="id" pattern="[0-9]+" title="Por favor, ingrese un valor numérico" required><br>
        <label for="area">Área (solo números):</label>
        <input type="number" id="area" name="area" pattern="[0-9]+" title="Por favor, ingrese un valor numérico" required><br>
        <!-- Menú desplegable para tipo de vehículo -->
        <label for="tipoVehiculo">Tipo de Vehículo:</label>
        <select id="tipoVehiculo" name="tipoVehiculo" required>
            <option value="Carro">Carro</option>
            <option value="Moto">Moto</option>
            <option value="Camión">Camión</option>
            <option value="Scooter">Scooter</option>
        </select>
        <br>
        <input type="submit" value="Actualizar Piso" class="botoon">
    </form>

</body>
</html>