<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" name="robots" http-equiv="cache-control" content="no-store">
    <title>Aplicación AdminParking</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stylepisos.css}">
</head>
<body>


    <div class="barra">
        <i>Eliminar Tipos</i>
        <a class="botones_barra" href="http://localhost:4200/vehiculo/anadirVehiculo">Registrar Vehiculo</a>
        <a class="botones_barra" href="http://localhost:4200/vehiculo/registrarSalida">Registrar Salida</a>
        <a class="botones_barra" th:href="@{/tarifas/anadirTarifa}">Añadir Tarifa</a>
        <a class="botones_barra" th:href="@{/tiposvehiculo/anadirTipo}">Tipo Vehiculo</a>
        <a class="botones_barra" th:href="@{/admin/tarifas-espacios}">Tarifas y Espacios</a>
        <a class="botones_barra" href="iniciar sesioon.html">Cerrar sesión</a>
    </div>

    <h4>CRUD tipos Vehiculo</h4>

    <div class="barraCRUD">
        <a class="botones_barra" th:href="@{/tiposvehiculo/anadirTipo}">Añadir Tipo</a>
    </div>

    <h4>Ingrese la información del tipo</h4>
    


    <form method="post" action="/tiposvehiculo/deleteTipo"> <!-- pisos: Nombre del metodo -->
        <select name="tipo" id="tipo">
            <option value="">Seleccione un tipo de vehículo</option>
            <!-- Aquí debes cargar dinámicamente los tipos de vehículos desde la base de datos -->
            <th:block th:each="tipo : ${tipos}">
                <option th:value="${tipo.id}" th:text="${tipo.tipo}"></option>
            </th:block>
        </select>
        <br>
        <br>
        <input type="submit" value="Eliminar Tipo" class="botoon">
    </form>
    <div>
        <!-- Mensaje de éxito -->
        <p th:if="${exito}" class="mensaje-exito">[[${exito}]]</p>
    
        <!-- Mensaje de error -->
        <p th:if="${error}" class="mensaje-error">[[${error}]]</p>
    
        <!-- Otro mensaje informativo -->
        <p th:if="${mensaje}" class="mensaje-informativo">[[${mensaje}]]</p>
    
    </div>

</body>
</html>