<!DOCTYPE html>

<html>


    <head>

        <meta charset="utf-8" name="robots" http-equiv="cache-control" content="no-store">

        <title>Aplicación AdminParking</title>

        <link
			rel="stylesheet"
			type="text/css"
			href="style - gestioon de parqueaderos.css"
		>

    </head>

    <body>

        <div class="barra">
            <a class="botones_barra" href="pisos.html">Pisos</a>
            <a class="botones_barra" href="tarifas y espacios.html">Tarifas y Espacios</a>
            <i>Gestion de parqueos</i>
            <a class="botones_barra" href="iniciar sesioon.html">Cerrar sesión</a>
        </div>

        <h3>Admitir un vehículo e indicarle el piso en el cual debe parquear</h3>
        
        <form id="vehiculoForm">
            <div>
                <label for="tipo_vehiculo">Tipo de Vehículo:</label>
                <br>
                <select id="tipo_vehiculo" name="tipo_vehiculo">
                    <option value="auto">Auto</option>
                    <option value="moto">Moto</option>
                    <option value="camion">Camión</option>
                </select>
            </div>
            <div>
                <label for="placa">Número de Placa:</label>
                <br>
                <input type="text" id="placa" name="placa" placeholder="Escribe la placa del vehículo.">
            </div>
            <br>
            <br>
            <div>
                <button class="botoon" type="button" onclick="registrarVehiculo()">Ingresar Vehículo</button>
            </div>
        </form>
    
        <div id="aviso"></div>

    </body>


</html>
