<!DOCTYPE html>

<html>


    <head>

        <meta charset="utf-8" name="robots" http-equiv="cache-control" content="no-store">

        <title>Aplicación AdminParking</title>

        <link
			rel="stylesheet"
			type="text/css"
			href="style - pisos.css"
		>

        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            label {
                font-size: 36px;
            }
            input {
                font-size: 24px;
                padding: 10px;
            }
        </style>

    </head>

    <body>

        <div class="barra">
            <i>Pisos</i>
            <a class="botones_barra" href="tarifas y espacios.html">Tarifas y Espacios</a>
            <a class="botones_barra" href="gestioon de parqueos.html">Gestión de parqueo</a>
            <a class="botones_barra" href="iniciar sesioon.html">Cerrar sesión</a>
        </div>

    </body>


</html>

