<!DOCTYPE html>

<html>


    <head>

        <meta charset="utf-8" name="robots" http-equiv="cache-control" content="no-store">

        <title>Aplicación AdminParking</title>

        <link
			rel="stylesheet"
			type="text/css"
			href="style - pisos.css"
		>

    </head>

    <body>

        <div class="barra">
            <i>Pisos</i>
            <a class="botones_barra" href="tarifas y espacios.html">Tarifas y Espacios</a>
            <a class="botones_barra" href="gestioon de parqueos.html">Gestión de parqueo</a>
            <a class="botones_barra" href="iniciar sesioon.html">Cerrar sesión</a>
        </div>

        <form>
            <label>
                <input type="radio" name="options" value="opcioon_crear"> Crear piso
            </label>
            <br>
            <br>
            <label>
                <input type="radio" name="options" value="opcioon_actualizar"> Actualizar piso
            </label>
            <br>
            <br>
            <label>
                <input type="radio" name="options" value="opcioon_eliminar"> Eliminar piso
            </label>
        </form>

        <form>
            <div>
                <label for="entrada_id">Tipo de vehículo</label>
                <br>
                <br>
                <input type="text" id="entrada_id" placeholder="Ingresar id.">
            </div>
            <div>
                <label for="entrada_aarea">Área</label>
                <br>
                <br>
                <input type="text" id="entrada_aarea" placeholder="Ingresar área.">
            </div>
            <div>
                <label for="entrada_tipo">Tipo de vehículo</label>
                <br>
                <br>
                <input type="text" id="entrada_tipo" placeholder="Ingresar tipo.">
            </div>
            <br>
            <br>
            <br>
            <div>
                <a class="botoon" href="pisos.html">Validar acción</a>
            </div>
            <div>
                <a class="botoon" href="recuperar pisos.html">Recuperar pisos</a>
            </div>
        </form>

    </body>


</html>

