<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


    <head>

        <meta charset="utf-8" name="robots" http-equiv="cache-control" content="no-store">

        <title>Aplicación AdminParking</title>

        <link
			rel="stylesheet"
			type="text/css"
			th:href="@{/style-recuperarpisos.css}"
		>

    </head>

    <body>
    
        <p>
            Recuperando pisos...
        </p>
    
        <table>
            <tr th:each="piso : ${pisos}">
                <td th:text="${piso.id}"></td>
                <td th:text="${piso.area}"></td>
                <td th:text="${piso.tipoVehiculo}"></td>
            </tr>
        </table>

    </body>


</html>

