<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" name="robots" http-equiv="cache-control" content="no-store">
    <title>Aplicación AdminParking</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styleTarifasEspacios.css}">

</head>

<body>
    <div class="barra">
        <i>Tarifas y Espacios</i>
        <a class="botones_barra" th:href="@{/tarifas/anadirTarifa}">Anadir Tarifa</a>
        <a class="botones_barra" href="http://localhost:4200/vehiculo/registrarSalida">Registrar Salida</a>
        <a class="botones_barra" href="http://localhost:4200/vehiculo/anadirVehiculo">Añadir Vehiculo</a>
        <a class="botones_barra" th:href="@{/pisos/anadirPiso}">Anadir Piso</a>
        <a class="botones_barra" th:href="@{/tiposvehiculo/anadirTipo}">Añadir Tipo</a>
        <a class="botones_barra" href="iniciar sesioon.html">Cerrar sesión</a>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <h3>Mostrar las tarifas por tipo de vehículo</h3>

    <div id="tarifas">
        <h4>Tarifas por tipo de vehículo:</h4>
        <ul>
            <!-- Iterar sobre la lista de tarifas y mostrar cada tarifa -->
            <th:block th:each="tarifa : ${tarifas}">
                <li th:text="${tarifa.tipoVehiculo.tipo} + ': $' + ${tarifa.tarifaPorMinuto} + ' por minuto'"></li>
            </th:block>
        </ul>
    </div>

    <h3>Mostrar los espacios disponibles por tipo de vehículo</h3>

    <div id="espacios">
        <h4>Espacios disponibles por tipo de vehículo:</h4>
        <ul>
            <!-- Iterar sobre la lista de información de espacios por piso y mostrar cada piso -->
            <th:block th:each="infoPiso : ${infoEspaciosPorPiso}">
                <li th:text="${infoPiso}"></li>
            </th:block>
        </ul>
    </div>

</body>

</html>
