<!DOCTYPE html>

<html>


    <head>

        <meta charset="utf-8" name="robots" http-equiv="cache-control" content="no-store">

        <title>Aplicación AdminParking</title>

        <link
			rel="stylesheet"
			type="text/css"
			href="style - tarifas y espacios.css"
		>

    </head>

    <body>

        <div class="barra">
            <a class="botones_barra" href="pisos.html">Pisos</a>
            <i>Tarifas y Espacios</i>
            <a class="botones_barra" href="gestioon de parqueos.html">Gestión de parqueo</a>
            <a class="botones_barra" href="iniciar sesioon.html">Cerrar sesión</a>
        </div>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <h3>Mostrar las tarifas por tipo de vehículo</h3>
        
        <div id="tarifas">
            <h4>Tarifas por tipo de vehículo:</h4>
            <ul>
            <li>Auto: $5000 por hora</li>
            <li>Moto: $2000 por hora</li>
            <li>Camión: $10000 por hora</li>
            </ul>
        </div>
        
        <h3>Mostrar los espacios disponibles por tipo de vehículo</h3>
        
        <div id="espacios">
            <h4>Espacios disponibles por tipo de vehículo:</h4>
            <ul>
            <li>Auto: 50 disponibles</li>
            <li>Moto: 20 disponibles</li>
            <li>Camión: 10 disponibles</li>
            </ul>
        </div>

    </body>


</html>
