<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Formulario de Tarifa</title>
</head>
<body>
    <h1>Ingresar Información de Tarifa</h1>
    <form method="post" action="/tarifas/"> <!-- Reemplaza "/tarifas/" con la URL de destino de tu formulario -->
        <label for="tipoVehiculo">Tipo de Vehículo:</label>
        <input type="text" id="tipoVehiculo" name="tipoVehiculo" required><br>
        <label for="tarifaPorMinuto">Tarifa por Minuto:</label>
        <input type="number" id="tarifaPorMinuto" name="tarifaPorMinuto" step="0.01" required><br>
        <!-- "step" establece el número de decimales permitidos en el campo -->
        <input type="submit" value="Crear Tarifa">
    </form>
</body>
</html>
